<!DOCTYPE html>
<html>
  <head>
    <title>Discover</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id=header align="center">
    	<h1>Discover</h1>
    </div>

    	<ul style = "list-style:none; padding-right:20px; position:fixed; width:75%; top:30">
    		<li id = "Home" style = "float:left;">
    			<a href = ""><button type="submit"> Home </button> </a>
    		</li>
    		<li id = "Connect" style = "float:left;">
    			<a href = ""><button type = "submit">Connect</button> </a>
    		</li>
			<li id = "Discover" style = "float:left;">
    			<a href = "" id="current"><button type = "submit">Discover</button> </a>
    		</li>
    		<li id = "Me" style = "float:left;">
    			<a href = ""><button type = "submit">Me</button> </a>
    		</li>
    		<li id = "Search" style = "float:right;">
    			<input type = "field"><button type = "submit"> Search </button>
    		</li>
   	 </ul>	

    <br/>

    <ul style = "list-style:none; padding:20px; font-weight:bold;">
    	<li> Tweets
    	<li> Activity
    	<li> Who to follow
    	<li> Find friends
    	<li> Browse categories
    </ul>

    <ul style = "list-style:none; padding:20px;">
    	<li><b>Who to follow</b> - <a href= "">Refresh</a> - <a href = ""> View all </a>
    	<li> Tim Richards <a href= "http://www.twitter.com/timrichards"> @timrichards </a>
    	<li> Nick Braga <a href = ""> @braga_swaga </a>
    </ul>

    <ul style = "list-style:none; padding:20px">
    	<li><b>Trends</b> - <a href=""> Change </a>
    	<li> <a href = "">#yoloswag </a>
    	<li> <a href = "">#spongebobmemories </a>
    	<li> <a href = "">UMass Amherst </a>
    </ul>

    <p> Tweets would be on streaming in a timeline on the right of these tables.


  </body>
</html>