<h1>Twitter Index Page</h1>
<ul>

<h1>Links to Locations</h1>
<ul>
  <li><a href="login">Login </a></li>
  <li><a href="signUp">SignUp</a></li>
  <li><a href="discover">Discover </a></li>
  <li><a href="timeline">Timeline</a></li>
  <li><a href="profile_page">Profile</a></li>
</ul>

