<!DOCTYPE html>
<html>
  <head>
    <title><%= Discover %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Discover %></h1>
    <p> <%= Discover %> </p>
  </body>
</html>