<!DOCTYPE html>
<html>
	<head> 
		<title>Twitter!!</title>
	<head/>

	<body>
		<body style = "background-color:#ccc78">
			<h1> Welcome to Twitter! Type in your Username and Password <h1/>
			<h2> Dont have an Account? Make one here <h2/>
			<!--<a href="SignUp.ejs">Sign Up</a> -->
		<table>
			<tr><td>Username:</td><td><input type="text" name="user"></td></tr>
			<tr><td>Password:</td><td><input type="password" name="pass"></td></tr>
			</table>
		<button type="button">Log In!</button>
	</body>
</html>
		