<!DOCTYPE html>
<html>
	<head> 
		<title>Twitter!!</title>
	<head/>

	<body>
		<body style = "background-color:#ccc78">
			<h1> Welcome to Twitter! Type in your Username and Password <h1/>
			<h2> Dont have an Account? <a href="/register">Make one here </a><h2/>
			<!--<a href="SignUp.ejs">Sign Up</a> -->
		<form method="post" action="/login/auth">
			Username: <input type="text" name="uname"><br>
			Password: <input type="password" name="pword"><br>
			<input type="submit" text="Login">
		</form>
		<%= message %>
	</body>
</html>
		