<!DOCTYPE html>
<html>
	<head> 
		<title>Twitter</title>
		<script src="/js/kickstart.js"></script> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" /> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all"/>
	<head/>

	<body>

		<div id="loginForm" class="col_4">
			<h3><strong>Twitter</strong></h3>
			<form class="vertical" method="post" action="/login/auth">
				<input name="uname" type="text" placeholder="Username" />
				<input id="password" name="pword" type="password" placeholder="Password" />
				<input type="Submit" value="Login" /> 
			</form>
			<h6>New to Twitter? <a href="/register">Register here.</a>
		</div>

		
	</body>
</html>
		