<!DOCTYPE html>
<html>
<head> 
<title>Profile Page</title>
<head/>

<body>
<div id = "header" style="background-color:#000000;">
<button>Home</button>
<button>@ Connect</button>
<button># Discover</button>
<button>Me</button>
<button>Settings</button>
<button>Compose</button></div>

<img src="http://images2.wikia.nocookie.net/__cb20101025015318/spongebob/images/c/c6/SpongeBob_SquarePants.svg" width="50" length="50">
<h2>Spongebob Squarepants<h2/>

<div id = "tweetInfo">
<button>20000K TWEETS</button>
<button>100 FOLLOWING</button>
<button>0 FOLLOWERS</button></div>

<div id="tweets" style="background-color:#C0C0C0;height:600px;width:500px;">
<b><strong>Tweets</strong></b><br>
<hr>
<small>WHERES PATRICK?!?!?!?!?</small><br>
<hr>
<small>Squidward</small><br>
<hr>
<small>I love the krusty krab!!!!!</small><br>
<hr>
<small>Brushing my teeth is so easy since I only have 2 tooths</small><br>
<hr>
<small>I wish someone would follow me :( even @IAMPATRICK won't</small><br>
</div>

</body>
</html>
