<!DOCTYPE html>
<html>
<h1>Register For Twitter</h1>
<form action="/register/submit" method="post"><br>
	First Name: <input type="text" name="first"><br>
	Last Name: <input type="text" name="last"><br>
	Username: <input type="text" name="uname"><br>
	Email: <input type="text" name="email"><br>
	Password: <input type="password" name="pword"><br>
	Confirm Password: <input type="password" name="confirmPword"><br>
	<input type="submit" text="Register">
</form>
<%= message %>
</html>