<html>
  <head>
    <title>Sign_Up</title>
  </head>
    <body>
      <h1 align="center">Sign Up</h1>
      <br>
      <br>
      <br>
      <p>Username:<br><input name="Username" value="" type="text" size="20" maxlength="20"></p>
      <p>Password:<br><input password="Password" value="" type="text" size="20" maxlength="20"></p>
      <button>Sign Up</button>
      </form><br>
    </body>
</html>
